/* .row{
    margin-top:40px;
} */
button{
    margin-top: 10px;
}

.datepicker-date-display{
    /* background-color:red; */
    background-image: url("https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17563-1920x1200.jpg");
    background-size: cover;
  }

.datepicker-cancel, .datepicker-clear, .datepicker-done,.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected,.datepicker-table td.is-today{
    color:#423093;
    
}

.datepicker-table td.is-selected{
    background-color:#423093;
}
.sidenav-trigger{
    color:white;
}

a{
    margin-top:10px;
    width:100%;
    color:#423093;
    font-weight: bold;
}

#pickDay{
    margin-top:20%;
    height:50%;
    padding:10%;
    line-height:1; 
    font-size:350%;
    width:100%;
}

#pickDay:hover{
    background-color: #48369b;
}

.btn{
    background-color:#33266e;
}


.btn:hover{
    background-color: #48369b 
}

body{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

figure {
    margin: 5em auto;
	width: 350px;
	height: 150px;
}

.section {
    padding-top:0em;
    padding-bottom: 3em;
}
.row{
    margin-bottom:0;
}

p{
    /* text-align: justify; */
    /* text-justify: auto; */
}

.nasaContent > a {
    margin-top: 0%;
}

.btn-floating i{
    color:#423093;
}

.card, .clearSaved, .btn-floating{
    display:none;
}

.datepicker-cancel, .datepicker-done{
    display:none;
}

.material-tooltip{
    background-color: #423093;
}
