/* .row{
    margin-top:40px;
} */
button{
    margin-top: 10px;
}

.datepicker-date-display{
    /* background-color:red; */
    background-image: url("https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17563-1920x1200.jpg");
    background-size: cover;
  }

.datepicker-cancel, .datepicker-clear, .datepicker-done,.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected,.datepicker-table td.is-today{
    color:#423093;
    
}

.datepicker-table td.is-selected{
    background-color:#423093;
}

a{
    margin-top:10px;
    width:100%;
    color:#423093;
    font-weight: bold;
}

.btn{
    background-color:#423093;
}
body{
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    widows: 100%;
}

figure {
	margin: 5em auto;
	width: 350px;
	height: 150px;
}

.section {
    padding-top:0em;
    padding-bottom: 3em;
}
.row{
    margin-bottom:0;
}

p{
    text-align: justify;
    text-justify: auto;
}
